@charset "utf-8";
.tit_1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 23px;
	color: #FFF;
}
.tit_capa {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 27px;
	font-weight: bold;
	color: #f6b600;
	text-decoration: none;
}
.branco_18 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 17px;
	font-weight: normal;
	color: #FFF;
	text-decoration: none;
}
.branco_14 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #FFF;
}
.tit_interna {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #eda800;
	text-decoration: none;
}
.tit_internarodape {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #eda800;
	text-decoration: none;
}
.azul_14 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #feb400;
	text-decoration: none;
	text-align: left;
}
.txt {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: left;
}
.scilab {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: left;
}
.azul_11 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #feb400;
	text-decoration: none;
}
.amarelo_11 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #DDAE38;
	text-decoration: none;
}
.legenda {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
