@charset "utf-8";
.tit_1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	color: #FFF;
}
.tit_capa {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #dead35;
	text-decoration: none;
}
.branco_18 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #FFF;
	text-decoration: none;
}
.branco_14 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFF;
}
.tit_interna {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #DDAE38;
	text-decoration: none;
}
.tit_internarodape {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #DDAE38;
	text-decoration: none;
}
.azul_14 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #010A1B;
	text-decoration: none;
	text-align: left;
}
.txt {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #003160;
	text-decoration: none;
	text-align: left;
}
.txtp {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #003160;
	text-decoration: none;
	text-align: left;
}
.txtamarelo {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #DDAE38;
	text-decoration: none;
	font-weight: bold;
	text-align: left;
}
.scilab{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #003160;
	text-decoration: none;
	text-align: left;
}
.azul_11 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #010A1B;
	text-decoration: none;
}
.amarelo_11 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #DDAE38;
	text-decoration: none;
}
.legenda {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #010A1B;
	text-decoration: none;
}

.botao {
	display: block;
	border: 2px solid #003160;
	padding: 10px;
	margin: 2px;
	transition: background-color 1s;
	align: center
}

.botao:hover{
	
	color: #ffffff;
	background-color:#606060;
}